@font-face{
    font-family: edo;
    src: url(../fonts/edosz.ttf);
}
@font-face{
    font-family: vcr;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}


:root{
    --vcrFont: vcr, helvetica;
    --edoFont: edo, Impact, Haettenschweiler, sans-serif;

    --large: 50px;
    --medium: 40px;
    --small: 20px;


    --mtextColor: hsla(0, 0%, 100%, 0.7);
    --mtextColorLight: hsla(0, 0%, 95%, 1);

    --bgColorLight: hsl(250, 100%, 25%); /*also known as #15007f */
    --bgColorLighter: hsl(250, 100%, 50%);
    --bgColorDark: hsl(230, 50%, 10%);
    --aaa: #2a00ff ;
}



/* -------------- MAIN LAYOUT -------------- */
html,body{
    /* min-height: 100vh; */
    margin: 0;
}

header,main,footer{
    margin: 0 auto;
    max-width: 1024px;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
}


/* -------------- INNER LAYOUT -------------- */



nav{
    width: 100%;
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
}


nav a{
    min-width: 10%;
    padding: 5px 30px 0 5px;
}




footer{
    min-height: 300px;
    padding: 0 10px;

    /* do something about footer layout*/
}



main section{
    margin-top: 5%;
    padding: 50px 20px;
}

/* @media for inner layout */
/*Small*/
@media (max-width: 430px){
    nav a{
        width: 100%;
        padding: 10px 0 0 15px;
    }
    #floatinghelper{
        position: fixed;
        bottom: 0; right: 0;
        padding: 15px;
        background-color: var(--bgColorDark);

    }
}
/*Large*/
@media (min-width: 430px){
    nav{
        position: fixed;
        top: 0;
        max-width: 1024px;
        background-color: var(--bgColorDark);
    }
    #floatinghelper{
        display: none;
        visibility: hidden;
    }
}


/* -------------- FLUFF -------------- */
body{
    background-color: var(--bgColorDark);

    background: 
    var(--bgColorDark) 
    url('../media/demo.svg') no-repeat center fixed;
    background-size: 50% 50%;
}

body, nav a, #floatinghelper{
    font-family: var(--vcrFont);
    text-shadow: 1px 1px 2px black;
    color: var(--mtextColor);
    font-size: var(--small);
}

header h1 {
    font-family: var(--edoFont);
    font-size: var(--large);
    color: var(--mtextColorLight);

    text-shadow: 
    2px 2px 1px rgb(0, 255, 136),
    -2px -2px 1px rgb(204, 0, 255);
}


nav a{
    text-decoration: none;
    border-bottom: 5px solid var(--bgColorLight);
    transition: border .5s;
}
nav a:hover,nav a:focus{
    color: var(--mtextColorLight);
    border-color: var(--bgColorLighter);
    transition: border .3s;
}


section {
    background-color: var(--bgColorLight);
    border-top: 1px solid var(--bgColorLighter);

    background: 
    var(--bgColorLight) 
    url('../media/demoF.svg') no-repeat center fixed;
    background-size: 50% 50%;
}

section h2{
    font-size: var(--medium);
    color: var(--mtextColorLight);
    margin: 0;
    /* transform: translate(0,calc(var(--large) * -1)); */
}

address a{
    color: hsl(300, 100%, 60%);
}



/* -------------- Section Spesific FLUFF -------------- */
#floatinghelper{
    background: rgb(0, 78, 92);
    border-radius: 10px 0 0 0;
}

#intro{
    margin: 30px 0 0 0;
}

#about address {
    font-family: edo, Helvetica, sans-serif;
}

/* bg gfx fix , because of last "section"v bottom image cuts bg off*/
#genre{
    position: relative;
    z-index: 1;
}
#genre::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; bottom: 0;
    z-index: -1;
    background: linear-gradient(hsla(0, 0%, 0%, 0),var(--bgColorLight))
}